    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs mt-2 bg_header_main">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h1>Black Oxide</h1>
            </div>
        </div>
    </section><!-- End Breadcrumbs -->

    <section class="blog" id="blog">
        <div class="row">
            <div class="col-md-3 col-sm-3">
                <div class="sidebar">
                    <h3 class="sidebar-title">Process</h3>
                    <hr>
                    <div class="sidebar-item categories mt-4">
                        <div class="sidebar-item categories">
                            <ul class="sidebar-links">
                                <li class="nav-all nav-metal_finishing mt-3"><a href="../metal_finishing/">Metal Finishing</a></li>
                                <li class="nav-all mt-2 nav-anodizing"><a href="../anodizing/">Anodizing</a></li>
                                <li class="nav-all mt-2 nav-black_oxide"><a href="../black_oxide/">Black Oxide</a></li>
                                <li class="nav-all mt-2 nav-conversion_and_coating"><a href="../conversion_and_coating/">Chemical Conversion and Coating on Aluminum</a></li>
                                <li class="nav-all mt-2 nav-electroless_nickel"><a href="../electroless_nickel/">Electoless Nickel</a></li>
                                <li class="nav-all mt-2 nav-passivation"><a href="../passivation/">Passivation</a></li>
                                <li class="nav-all mt-2 nav-selective_plating"><a href="../selective_plating/">Selective Plating</a></li>
                                <li class="nav-all mt-2 nav-zinc_plating"><a href="../zinc_plating/">Zinc Plating</a></li>
                                <li class="nav-all mt-2 nav-tin_plating"><a href="../tin_plating/">Tin Plating</a></li>
                                <li class="nav-all mt-2 nav-copper_plating"><a href="../copper_plating/">Copper Plating</a></li>
                                <li class="nav-all mt-2 nav-sand_blasting"><a href="../sand_blasting/">Sand Blasting</a></li>
                                <li class="nav-all mt-2 nav-electropolish"><a href="../electropolish/">ElectroPolish</a></li>
                                <li class="nav-all mt-2 nav-bright_nickel"><a href="../bright_nickel/">Bright Nickel</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-sm-9">
                <section class="about-us mt-0 pt-0">
                    <div class="container">
                        <div class="section-description">
                            <ul class="mt-0">
                                <li>Black oxide finish can be performed on steel, stainless steel, cast iron, copper and brass</li>
                                <li class="mt-3"><b>Black oxide finish produces:</b>
                                    <ul>
                                        <li class="mt-2">No dimesional changes</li>
                                        <li class="mt-2">No chipping</li>
                                        <li class="mt-2">Retains surface properties </li>
                                        <li class="mt-2">Absorbs oil and wax</li>
                                        <li class="mt-2">Finish can be exposed to heat without fading</li>
                                    </ul>
                                </li>
                                <li class="mt-3">Work finished and tested to the following specifications in-house.</li>
                            </ul>
                                <br>
                            <h5 class="mt-2"><b>TRB/Andarn has capabilty to perform and certify finishining to the following specifications :</b></h5>
                            <div class="mt-3 overflow_x">
                                <table class="table table-responsive table-bordered">
                                    <thead class="thead-dark text-center">
                                        <tr class="active">
                                            <th rowspan="2">Base Metal</th>
                                            <th colspan="6">Specification</th>
                                        </tr>
                                        <tr class="active">
                                            <th>Mil-C-13924D</th>
                                            <th>Mil-Std-171D</th>
                                            <th>Mil-F 14072</th>
                                            <th>AMS 2485F</th>
                                            <th>Mil-STD-186D</th>
                                            <th>Other</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Carbon/Cold rolled steel</td>
                                            <td>Class I</td>
                                            <td>3.3.1.2</td>
                                            <td></td>
                                            <td></td>
                                            <td>214</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Cast Iron </td>
                                            <td>Class I</td>
                                            <td>3.3.1.2</td>
                                            <td></td>
                                            <td></td>
                                            <td>214</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Stainless steel</td>
                                            <td>Class 4</td>
                                            <td>3.3.2.1
                                            3.3.4.1 </td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Copper/Brass/Bronze</td>
                                            <td></td>
                                            <td>3.2</td>
                                            <td>E311</td>
                                            <td></td>
                                            <td>213</td>
                                            <td>Mil-F-495E</td>
                                        </tr>
                                        <tr>
                                            <td>Salt Spray(class 4)/Oxalic Acid Test(Class 1 and 2 only)</td>
                                            <td colspan="4" class="text-center">96 Hours(Class 4 Only)</td>
                                            <td></td>
                                            <td></td>
                                            
                                        </tr>
                                        <tr>
                                            <td>Smut Test </td>
                                            <td>Yes</td>
                                            <td>Yes</td>
                                            <td>Yes</td>
                                            <td>Yes</td>
                                            <td>Yes</td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>

    <script>
        $(function(){
            $(".nav-all").removeClass("active");
            $(".nav-process").addClass("active");
            $(".nav-black_oxide").addClass("active");
        });
    </script>