</body>
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <img src="../assets/img/logo.png">
                    <p class="mt-3">
                        TRB/Andarn is an AS 9100 D/ ISO 9001 - 2015 Registered Quality Management System with an extensive quality control and in-process inspection with complete engineering services.
                    </p>
                </div>

                <div class="col-lg-4 col-md-6 footer-contact pl-5">
                    <p class="">
                    <strong>Address:</strong>
                    <ul type="none"><li>6 Morris Street, Paterson, NJ 07501</li></ul>
                        <strong>Phone:</strong> <ul type="none">
                                                    <li>973 - 278 - 9014(T)</li>
                                                    <li>973 - 278 - 5124(F)</li>
                                                </ul>
                        <strong>Email:</strong> <ul type="none"><li class="bx-color"><a href="mailto:info@trbandarn.com">info@trbandarn.com</a></li></ul>
                    </p>
                </div>

                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Company Links</h4>
                    <ul>
                        <!-- <li class="nav-all nav-home"><i class="bx bx-chevron-right"></i> <a href="../">Home</a></li> -->
                        <li class="nav-all nav-quality_assurance"><i class="bx bx-chevron-right"></i> <a href="../quality_assurance/">Quality Assurance</a></li>
                        <li class="nav-all nav-about"><i class="bx bx-chevron-right"></i> <a href="../about/">About</a></li>
                        <li class="nav-all nav-contact"><i class="bx bx-chevron-right"></i> <a href="../contact/">Contact</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Our Solution</h4>
                    <ul>
                    <li class="nav-all nav-metal_finishing"><i class="bx bx-chevron-right"></i> <a href="../metal_finishing/">Metal Finishing</a></li>
                    <li class="nav-all nav-anodizing"><i class="bx bx-chevron-right"></i> <a href="../anodizing/">Anodizing</a></li>
                    <li class="nav-all nav-black_oxide"><i class="bx bx-chevron-right"></i> <a href="../black_oxide/">Black Oxide</a></li>
                    <li class="nav-all nav-electroless_nickel"><i class="bx bx-chevron-right"></i> <a href="../electroless_nickel/">Electoless Nickel</a></li>
                    <li class="nav-all nav-passivation"><i class="bx bx-chevron-right"></i> <a href="../passivation/">Passivation</a></li>
                    </ul>
                </div>
                
                <!-- <div class="col-lg-3 col-md-6 footer-newsletter">
                    <h4>Newsletter</h4>
                    <form action="" method="post">
                        <input type="email" name="email"><input type="submit" value="Send">
                    </form>
                </div> -->

            </div>
        </div>
    </div>

    <div class="container d-md-flex py-4">

        <div class="mr-md-auto text-md-left">
          <div class="copyright">
            © Copyright <strong><span>TRB. ANDARN.</span></strong> All Rights Reserved
          </div>
        </div>
        <div class="text-md-right">
          <div class="credits pt_0">
            Designed by <a href="https://itechnotion.com/">iTechNotion</a>
          </div>
        </div>
        <!--<div class="social-links text-center text-md-right pt-3 pt-md-0">
          <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
          <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>-->
      </div>
</footer><!-- End Footer -->
    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
    
    <!-- Vendor JS Files -->
    <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="../assets/vendor/php-email-form/validate.js"></script> 
    <script src="../assets/vendor/jquery-sticky/jquery.sticky.js"></script>
    <script src="../assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="../assets/vendor/venobox/venobox.min.js"></script>
    <script src="../assets/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="../assets/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="../assets/vendor/aos/aos.js"></script>
    
    <!-- Template Main JS File -->
    <script src="../assets/js/main.js"></script>
</html>