<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs mt-2 bg_header_main">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <h1>Copper Plating</h1>
        </div>
    </div>
</section><!-- End Breadcrumbs -->

    <section class="blog" id="blog">
        <div class="row">
            <div class="col-md-3 col-sm-3">
                <div class="sidebar">
                    <h3 class="sidebar-title">Process</h3>
                    <hr>
                    <div class="sidebar-item categories mt-4">
                        <div class="sidebar-item categories">
                            <ul class="sidebar-links">
                                <li class="nav-all nav-metal_finishing mt-3"><a href="../metal_finishing/">Metal Finishing</a></li>
                                <li class="nav-all mt-2 nav-anodizing"><a href="../anodizing/">Anodizing</a></li>
                                <li class="nav-all mt-2 nav-black_oxide"><a href="../black_oxide/">Black Oxide</a></li>
                                <li class="nav-all mt-2 nav-conversion_and_coating"><a href="../conversion_and_coating/">Chemical Conversion and Coating on Aluminum</a></li>
                                <li class="nav-all mt-2 nav-electroless_nickel"><a href="../electroless_nickel/">Electoless Nickel</a></li>
                                <li class="nav-all mt-2 nav-passivation"><a href="../passivation/">Passivation</a></li>
                                <li class="nav-all mt-2 nav-selective_plating"><a href="../selective_plating/">Selective Plating</a></li>
                                <li class="nav-all mt-2 nav-zinc_plating"><a href="../zinc_plating/">Zinc Plating</a></li>
                                <li class="nav-all mt-2 nav-tin_plating"><a href="../tin_plating/">Tin Plating</a></li>
                                <li class="nav-all mt-2 nav-copper_plating"><a href="../copper_plating/">Copper Plating</a></li>
                                <li class="nav-all mt-2 nav-sand_blasting"><a href="../sand_blasting/">Sand Blasting</a></li>
                                <li class="nav-all mt-2 nav-electropolish"><a href="../electropolish/">ElectroPolish</a></li>
                                <li class="nav-all mt-2 nav-bright_nickel"><a href="../bright_nickel/">Bright Nickel</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-sm-9">
                <section class="about-us mt-0 pt-0">
                    <div class="container">
                        <div class="section-description">
                            <ul class="mt-3">
                                <li>Excellent corrosion resistance, Heat Treat Stop off as a underplate, EMI Shielding, Surface hardening</li>
                            </ul><br>
                            <h4 class="mt-0">ASTM B734</h4>
                            <div class="mt-3 overflow_x">
                                <table class="table table-bordered text-center">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>Class</th>
                                            <th>Minimum Thickness</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>25</td>
                                            <td>0.001</td>
                                        </tr>
                                        <tr>
                                            <td>20</td>
                                            <td>0.0008</td>
                                        </tr>
                                        <tr>
                                            <td>12</td>
                                            <td>0.00048</td>
                                        </tr>
                                        <tr>
                                            <td>5</td>
                                            <td>0.0002</td>
                                        </tr>
                                        <tr>
                                            <td>x</td>
                                            <td>Thickness Specified</td>
                                        </tr>
                                    </tbody>
                                </table><br>
                            </div>

                            <h4 class="mt-2">MIL-C-14550</h4>
                            <div class="mt-3 overflow_x">
                                <table class="table table-bordered text-center">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>Class</th>
                                            <th>Minimum Thickness</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>0</th>
                                            <td>0.001 - 0.005</td>
                                        </tr>
                                        <tr>
                                            <td>1</th>
                                            <td>0.001</td>
                                        </tr>
                                        <tr>
                                            <td>2</th>
                                            <td>0.0005</td>
                                        </tr>
                                        <tr>
                                            <td>3</th>
                                            <td>0.0002</td>
                                        </tr>
                                        <tr>
                                            <td>4</th>
                                            <td>0.0001</td>
                                        </tr>
                                    </tbody>
                                </table><br>
                            </div>

                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>

<script>
    $(function(){
        $(".nav-all").removeClass("active");
        $(".nav-process").addClass("active");
        $(".nav-copper_plating").addClass("active");
    });
</script>