<!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs mt-2 bg_header_main">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <h1>Direction to TRB Electro Corporation</h1>
        </div>
    </div>
</section><!-- End Breadcrumbs -->


<!-- ======= Features Section ======= -->
<section id="features" class="features mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-5 mb-lg-0">
                <ul class="nav nav-tabs flex-column">
                    <li class="nav-item">
                        <a class="nav-link active show" data-toggle="tab" href="#tab-1">
                            <h6>80 Westbound: Form Garden State Parkway</h6>
                        </a>
                    </li>
                    <li class="nav-item mt-2">
                        <a class="nav-link" data-toggle="tab" href="#tab-2">
                            <h6>Going towards 80 Eastbound</h6>
                        </a>
                    </li>
                    <li class="nav-item mt-2">
                        <a class="nav-link" data-toggle="tab" href="#tab-3">
                            <h6>From Central/South Jersey</h6>
                        </a>
                    </li>
                    <li class="nav-item mt-2">
                        <a class="nav-link" data-toggle="tab" href="#tab-4">
                            <h6>Directions from N.Y. Washington Bridge to 80 West</h6>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-7 ml-auto mt-4">
                <div class="tab-content">
                    <div class="tab-pane active show" id="tab-1">
                        <figure>
                            <h4 class="text-center">80 Westbound: Form Garden State Parkway</h4>
                            <ul class="mt-5">
                                <li class="mt-2">Garden State Parkway South, exit 159 (after second toll) Bergen Plaza.</li>
                                <li class="mt-2">Take exit 159 to route 80 West. Take that exit to 57B (Paterson Downtown exit).</li>
                                <li class="mt-2">Bear right and make a right turn at the exit ramp on Marshall Street (you will see Passaic County Jail).</li>
                                <li class="mt-2">At the first traffic light, make a right turn onto Grand Street.</li>
                                <li class="mt-2">Go down under the overpass to the second block.</li>
                                <li class="mt-2">Make a right turn onto Morris Street and make a left into the second driveway.</li>
                                <li class="mt-2">TRB is all the way to the back on your left side in the Industrial Complex.</li>
                            </ul>
                        </figure>
                    </div>
                    <div class="tab-pane" id="tab-2">
                        <figure>
                            <h4 class="text-center">Going towards 80 Eastbound</h4>
                            <ul class="mt-5">
                                <li class="mt-2">Exit 57B (Paterson Downtown)</li>
                                <li class="mt-2">Follow ramp to the right and look for Grand Street sign (Paterson)</li>
                                <li class="mt-2">Left turn onto Grand Street</li>
                                <li class="mt-2">Go to the second traffic light under the overpass (Spruce Street)</li>
                                <li class="mt-2">Go at least 100 ft and make a right turn onto Morris Street (coble-stone road)</li>
                                <li class="mt-2">Make a left at the second driveway and we are in the far left hand side (small beige building)</li>
                            </ul>
                        </figure>
                    </div>
                    <div class="tab-pane" id="tab-3">
                        <figure>
                            <h4 class="text-center">From Central/South Jersey</h4>
                            <ul class="mt-5">
                                <li class="mt-2">Garden State Parkway North to Exit 155P (on the left side) for Route 19 Paterson.</li>
                                <li class="mt-2">Bear left for about 2-3 miles and near the end of the freeway, look for Grand Street exit ramp on the right side.</li>
                                <li class="mt-2">At the traffic light, make a left onto Grand Street.</li>
                                <li class="mt-2">Pass two traffic lights under the overpass.</li>
                                <li class="mt-2">Make a right turn onto Spruce Street.</li>
                                <li class="mt-2">Make a left turn onto the first side street to your left, which is Barbour Street (coble-stone road).</li>
                                <li class="mt-2">Go through the big gate and we are in the back on your left side (small beige building).</li>
                            </ul>
                        </figure>
                    </div>
                    <div class="tab-pane" id="tab-4">
                        <figure>
                            <h4 class="text-center">Directions from N.Y. Washington Bridge to 80 West</h4>
                            <ul class="mt-5">
                                <li class="mt-2">Take exit 57 A & B Paterson. At the first traffic light, make a right onto Sheriff Plaza. The next traffic light, make a right turn onto Grand street. Pass 4 traffic lights (the 4th traffic light will be Spruce Street). Go at least 100 ft and make a right onto Morris Street (no sign board for Morris Street). Go another 200 ft and make a left turn at the end. Go 300 ft and on your left side, you will see TRB Electro Corp. (small beige building).</li>
                            </ul>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- End Features Section -->


<script>
    $(function(){
        $(".nav-all").removeClass("active");
    });
</script>