    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs mt-2 bg_header_main">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h1>Metal Finishing</h1>
            </div>
        </div>
    </section><!-- End Breadcrumbs -->

<section class="blog" id="blog">
    <div class="row">
        <div class="col-md-3 col-sm-3">
            <div class="sidebar">
                <h3 class="sidebar-title">Process</h3>
                <hr>
                <div class="sidebar-item categories mt-4">
                    <div class="sidebar-item categories">
                        <ul class="sidebar-links">
                            <li class="nav-all nav-metal_finishing mt-3"><a href="../metal_finishing/">Metal Finishing</a></li>
                            <li class="nav-all mt-2 nav-anodizing"><a href="../anodizing/">Anodizing</a></li>
                            <li class="nav-all mt-2 nav-black_oxide"><a href="../black_oxide/">Black Oxide</a></li>
                            <li class="nav-all mt-2 nav-conversion_and_coating"><a href="../conversion_and_coating/">Chemical Conversion and Coating on Aluminum</a></li>
                            <li class="nav-all mt-2 nav-electroless_nickel"><a href="../electroless_nickel/">Electoless Nickel</a></li>
                            <li class="nav-all mt-2 nav-passivation"><a href="../passivation/">Passivation</a></li>
                            <li class="nav-all mt-2 nav-selective_plating"><a href="../selective_plating/">Selective Plating</a></li>
                            <li class="nav-all mt-2 nav-zinc_plating"><a href="../zinc_plating/">Zinc Plating</a></li>
                            <li class="nav-all mt-2 nav-tin_plating"><a href="../tin_plating/">Tin Plating</a></li>
                            <li class="nav-all mt-2 nav-copper_plating"><a href="../copper_plating/">Copper Plating</a></li>
                            <li class="nav-all mt-2 nav-sand_blasting"><a href="../sand_blasting/">Sand Blasting</a></li>
                            <li class="nav-all mt-2 nav-electropolish"><a href="../electropolish/">ElectroPolish</a></li>
                            <li class="nav-all mt-2 nav-bright_nickel"><a href="../bright_nickel/">Bright Nickel</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9 col-sm-9">
            <section class="about-us mt-0 pt-0">
                <div class="container">
                    <div class="section-description">
                        <h3>Finishing For</h3>
                        <ul class="mt-3">
                            <li class="mt-2">Electroplating is a method of coating a metal or plastic surface with a metal</li>
                            <li class="mt-2">Electroplates are applied by immersing the object to be coated in a tank containing the proper chemicals dissolved in water.</li>
                            <li class="mt-2">The part to be plated is attached to a negative electrical lead.</li>
                            <li class="mt-2">Once it is attached to the negative electrical lead it is called a cathode.</li>
                            <li class="mt-2">The chunks of metal are called ANODES, and the positive electrical lead is then attached to them. They dissolve in the solution as metal is taken away by plating. But at this point we have metal being removed from the anode and deposited on the cathode – the parts to be plated.</li>
                        </ul><br>
                        
                        <h3 class="mt-0">Anodizing</h3>
                        <ul class="mt-3">
                            <li class="mt-3">Anodizing is an operation performed mainly on aluminum. The effect is to develop an oxide coating on the aluminum. Again, this is a conversion coating: the surface is converted from aluminum to aluminum oxide.</li>
                            <li class="mt-3">This is called anodizing because unlike in plating, the part to be coated is connected to the anode, not the cathode. The part is immersed in a dilute solution of sulfuric acid, current is passed, and the part is anodized – an oxide coating forms. The oxide coating is harder and almost corrosion resistant than bare aluminum.</li>
                        </ul><br>

                        <h3 class="mt-0">Electroless Plating</h3>
                        <ul class="mt-3">
                            <li class="mt-2">It is a way to coat one metal with another without passing current. The reason it is applied is that there are some limitations in electroplating when complex shapes are being coated. Electroless plating plates anything that is wetted by the solution.</li>
                        </ul><br>

                        <h3 class="mt-0">Chemical Conversion Coating on Aluminum</h3>
                        <ul class="mt-3">
                            <li class="mt-2">Various other wording in use- Iridite, Alodine ( Trade name) , Chemical film, Chromate Conversion coating- Clear or Yellow</li>
                            <li class="mt-2">Accomplished by dipping clean parts in proprietary Dichromate solution.</li>
                            <li class="mt-2">Can be clear or yellow color- specified by user.</li>
                        </ul><br>
                        
                        <h3 class="mt-0">Build Up / Dimesnional Changes</h3>
                        <ul class="mt-3">
                            <li class="mt-2">Any plating- Thickness of plating per side/Anodizing -Half the coating thickness per side/ No build up on Chemical conversion coat or Black oxide coating.</li>
                        </ul>

                    </div>
                </div>
            </section>
        </div>
    </div>
</section>

<script>
    $(function(){
        $(".nav-all").removeClass("active");
        $(".nav-process").addClass("active");
        $(".nav-metal_finishing").addClass("active");
    });
</script>