
        <section id="hero">
            <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">
        
              <div class="carousel-inner" role="listbox">
        
                <!-- Slide 1 -->
                <div class="carousel-item active" style="background-image: url(../assets/img/slide/slide-1.jpg);">
                  <div class="container">
                    <div class="carousel-content animated fadeInUp text-center">
                        <h1 style="font-weight: 300;">Expertise in <br>
                            <strong><b>Metal Finishing</b></strong>
                        </h1>
                    </div>
                  </div>
                </div>
        
                <!-- Slide 2 -->
                <div class="carousel-item" style="background-image: url(../assets/img/slide/slide-2.jpeg);">
                  <div class="container">
                    <div class="carousel-content animated fadeInUp d-none_xs">
                      <h1 style="font-weight: 300;">Guiding values <b style="font-weight: 900;">Over 50 years</b> in the Metal Finishing Anodizing and Electro Plating Industry.</h1>
                    </div>
                  </div>
                </div>

              </div>
        
              <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon bx bx-left-arrow" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
        
              <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon bx bx-right-arrow" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
        
              <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>
        
            </div>
          </section><!-- End Hero -->

        <section class="pb-3 pt-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-xs-5 text-right">
                        <img src="../assets/img/testimonials/SGS.png">
                    </div>
                    <div class="col-lg-7 col-xs-7">
                        <div class="text-left mt-3">
                            <div class="section-title">
                                <h2><b>AS 9100 D/ ISO 9001 – 2015</b></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="about-us pt-0">
            <div class="container">
                <div class="row no-gutters">
                    <div class="col-xl-6 d-flex align-items-stretch justify-content-center justify-content-lg-start mt-3 mb-1">
                        <img  height="400" width="550" src="../assets/img/testimonials/index_Image_1.jpg" class="vc_single_image-img attachment-full" alt="">
                    </div>
                    <div class="col-xl-6 pl-0 pl-lg-5 pr-lg-1 d-flex align-items-stretch mt-0">
                        <div class="content d-flex flex-column justify-content-center pt-0">
                            <h2>Welcome to TRB-ANDARN</h2>
                            <p class="mt-3">
                                TRB ANDARN is your one-Stop shopping for all metal finishing needs,  a complete computerized and integrated manufacturing organization with quality workmanship competitive service.
                            <br><br>
                                TRB/Andarn is an <b>AS 9100 D/ ISO 9001 – 2015</b> Registered Quality Management System with an extensive quality control and in-process inspection with complete engineering services including consulting, turnkey product development services and the ability to handle small / large volume and also customized jobs. All work is processed to your exact specifications.
                            <br><br>
                                Quick quotes can be available either through fax, email, or by mail.
                            </p>
                        </div><!-- End .content-->
                    </div>
                </div>

            </div>
        </section><!-- End About Us Section -->

                <section class="services pt-3 pb-1">
                    <div class="container">
                        <div class="section-title">
                            <h1>Our Work Process</h1>
                            <h6>How it works</h6>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-6">
                                <div class="icon-box">
                                    <div class="icon"><i class="icofont-papers"></i></div>
                                    <h4 class="title">Reasearch & Analysis</h4>
                                    <p class="description">We running events with professionalism and expertise, and in identifying strongly with their outcome. This sense of responsibility means we always strive to add value.</p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="icon-box">
                                    <div class="icon"><i class="icofont-puzzle"></i></div>
                                    <h4 class="title">Creative Solutions</h4>
                                    <p class="description">Our approach is distinctly innovative. We constantly seek new ways to increase client visibility and brand value. We also look to get the most out of advances in digitalisation.</p>
                                </div>    
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="icon-box">
                                    <div class="icon"><i class="icofont-gears"></i></div>
                                    <h4 class="title">Building</h4>
                                    <p class="description">We specially select teams for every project, to ensure each event gets the attention of the people who have the most relevant technical skills, languages and knowledge.</p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="icon-box">
                                    <div class="icon"><i class="icofont-rocket-alt-2"></i></div>
                                    <h4 class="title">Project Launch</h4>
                                    <p class="description">We running events with professionalism and expertise, and in identifying strongly with their outcome. This sense of responsibility means we always strive to add value.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="cta" >
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6">
                                <h1 style="text-align:left;">Perfect Solutions For Any <br>Industrials</h1>
                            </div>
                            <div class="col-lg-2 text-center mb-2">
                                <h2> <b>17</b></h2>
                                <p>
                                    Years<br>
                                    <span class="">Experience</span>
                                </p>
                            </div>
                            <div class="col-lg-2 text-center mb-2">
                                <h2> <b>523</b></h2>
                                <p>
                                    Projects<br>
                                    <span class="">Completed</span>
                                </p>
                            </div>
                            <div class="col-lg-2 text-center">
                                <h2> <b>64</b></h2>
                                <p>
                                    Workers<br>
                                    <span class="">Employed</span>
                                </p>
                            </div>
                        </div>
              
                    </div>
                </section><!-- End Cta Section -->

<script>
    $(function(){
        $(".nav-all").removeClass("active");
        $(".nav-home").addClass("active");
    });
    $(document).on("ready",function(){
        
    });
</script>