  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs mt-2 bg_header_main">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <h1>Sand Blasting</h1>
        </div>
    </div>
</section><!-- End Breadcrumbs -->

        <section class="blog" id="blog">
            <div class="row">
                <div class="col-md-3 col-sm-3">
                    <div class="sidebar">
                        <h3 class="sidebar-title">Process</h3>
                        <hr>
                        <div class="sidebar-item categories mt-4">
                            <div class="sidebar-item categories">
                                <ul class="sidebar-links">
                                    <li class="nav-all nav-metal_finishing mt-3"><a href="../metal_finishing/">Metal Finishing</a></li>
                                    <li class="nav-all mt-2 nav-anodizing"><a href="../anodizing/">Anodizing</a></li>
                                    <li class="nav-all mt-2 nav-black_oxide"><a href="../black_oxide/">Black Oxide</a></li>
                                    <li class="nav-all mt-2 nav-conversion_and_coating"><a href="../conversion_and_coating/">Chemical Conversion and Coating on Aluminum</a></li>
                                    <li class="nav-all mt-2 nav-electroless_nickel"><a href="../electroless_nickel/">Electoless Nickel</a></li>
                                    <li class="nav-all mt-2 nav-passivation"><a href="../passivation/">Passivation</a></li>
                                    <li class="nav-all mt-2 nav-selective_plating"><a href="../selective_plating/">Selective Plating</a></li>
                                    <li class="nav-all mt-2 nav-zinc_plating"><a href="../zinc_plating/">Zinc Plating</a></li>
                                    <li class="nav-all mt-2 nav-tin_plating"><a href="../tin_plating/">Tin Plating</a></li>
                                    <li class="nav-all mt-2 nav-copper_plating"><a href="../copper_plating/">Copper Plating</a></li>
                                    <li class="nav-all mt-2 nav-sand_blasting"><a href="../sand_blasting/">Sand Blasting</a></li>
                                    <li class="nav-all mt-2 nav-electropolish"><a href="../electropolish/">ElectroPolish</a></li>
                                    <li class="nav-all mt-2 nav-bright_nickel"><a href="../bright_nickel/">Bright Nickel</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9 col-sm-9">
                    <section class="about-us mt-0 pt-0">
                        <div class="container">
                            <div class="section-description">
                                <h3>Abrasive Blasting</h3>
                                <ul class="mt-2">
                                    <li>The operation of forcibly propelling a stream of abrasive material against a surface under high pressure to smooth a rough surface, roughen a smooth surface, shape a surface, or remove surface contaminants. Also can provide a surface for dull plating</li>
                                </ul>

                                <h5 class="mt-4">Military specification</h5>
                                <ul class="mt-4"> 
                                    <li>AMS-S-13165</li>
                                    <li class="mt-3">Mil-S-13165 C</li>
                                </ul>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </section>

<script>
    $(function(){
        $(".nav-all").removeClass("active");
        $(".nav-process").addClass("active");
        $(".nav-sand_blasting").addClass("active");
    });
</script>