  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs mt-2 bg_header_main">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <h1>Contact Us</h1>
        </div>
    </div>
</section><!-- End Breadcrumbs -->

<!-- ======= Contact Section ======= -->
<div class="map-section">
    <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d42979.968415104486!2d-74.21079482787749!3d40.91110822043267!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2fdd1d8f08aff%3A0x99c3bb9907b6ee48!2s6+Morris+St%2C+Paterson%2C+NJ+07501%2C+USA!5e0!3m2!1sen!2sin!4v1553863678792!5m2!1sen!2sin" frameborder="0" allowfullscreen></iframe>
</div>

<section class="cta d-none" style="margin-top: 0 !important;">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 text-center">
        <img src="../assets/img/logo.png" alt="LOGO">
      </div>
      <div class="col-lg-7 text-center">
        <h5>TRB/Andarn is an AS 9100 D/ ISO 9001 - 2015 Registered Quality Management System with an extensive quality control and in-process inspection with complete engineering services.</h5>
      </div>
    </div>
  </div>
</section>



<section id="contact" class="contact">
    <div class="container">

      <div class="row justify-content-center">

        <div class="col-lg-10">

          <div class="info-wrap">
            <div class="row">
              <div class="col-lg-4 info">
                <i class="icofont-google-map"></i>
                <h4>TRB Electro Corp.</h4>
                  <p><a href="https://www.google.com/maps/place/6+Morris+St,+Paterson,+NJ+07501,+USA/@40.9109375,-74.181423,17z/data=!3m1!4b1!4m5!3m4!1s0x89c2fdd1d8f08aff:0x99c3bb9907b6ee48!8m2!3d40.9109335!4d-74.1792343">6 Morris Street,<br>
                      Paterson, NJ 07501</a></p>
              </div>

              <div class="col-lg-4 info mt-4 mt-lg-0">
                <i class="icofont-envelope"></i>
                <h4>Mailing Address </h4>
                <p>P O Box 840, Park Station,
                  Paterson, NJ 07543-0840</p>
              </div>

              <div class="col-lg-4 info mt-4 mt-lg-0">
                <i class="icofont-phone"></i>
                <h4>Call:</h4>
                <p>973 – 278 – 9014<br>973 – 278 – 5124</p>
              </div>
            </div>
          </div>

        </div>

      </div>

      <div class="row justify-content-center mt-4">

        <div class="col-lg-10">

          <div class="info-wrap">
            <div class="row">
              <div class="col-lg-4 info">
                <i class="icofont-google-map"></i>
                <h4>ANDARN Electro Services</h4>
                  <p><a href="https://www.google.com/maps/place/72+Michigan+Ave,+Paterson,+NJ+07503,+USA/@40.8935196,-74.1564548,16.46z/data=!4m5!3m4!1s0x89c2fe9c1692c24b:0x2252ae3a7f2461e9!8m2!3d40.8938443!4d-74.1543196" target="_blank">72 Michigan Avenue<br>
                    Paterson, NJ 07543</a></p>
              </div>

              <div class="col-lg-4 info mt-4 mt-lg-0">
                <i class="icofont-envelope"></i>
                <h4>Mailing Address</h4>
                <p>P O Box 188, Park Station<br>
                  Paterson, NJ 07543 – 0188</p>
              </div>

              <div class="col-lg-4 info mt-4 mt-lg-0">
                <i class="icofont-phone"></i>
                <h4>Call:</h4>
                <p>973 – 523 – 2220<br>973 – 523 – 3140</p>
              </div>
            </div>
          </div>

        </div>

      </div>

      <div class="row mt-5 justify-content-center">
        <div class="col-lg-10">
          <form action="http://itechnotion.in/email_api/send_email_trb.php" method="post" role="form" class="php-email-form">
            <div class="form-row">
              <h1 class="col-md-12 text-center mt-1 mb-3">Contact Us</h1>
              <div class="col-md-6 form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                <div class="validate"></div>
              </div>
              <div class="col-md-6 form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email">
                <div class="validate"></div>
              </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject">
              <div class="validate"></div>
            </div>
            <div class="form-group">
              <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
              <div class="validate"></div>
            </div>
            <div class="mb-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>
            </div>
            <div class="text-center"><button type="submit">Send Message</button></div>
          </form>
        </div>

      </div>

    </div>
  </section><!-- End Contact Section -->

<script>
    $(function(){
        $(".nav-all").removeClass("active");
        $(".nav-contact").addClass("active");
    });
</script>