<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs mt-2 bg_header_main">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <h1>Direction to ANDARN Electro Service</h1>
        </div>
    </div>
</section><!-- End Breadcrumbs -->

<!-- ======= Features Section ======= -->
<section id="features" class="features mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-5 mb-lg-0">
                <ul class="nav nav-tabs flex-column">
                    <li class="nav-item">
                        <a class="nav-link active show" data-toggle="tab" href="#tab-1">
                            <h6>From Route 80 EAST</h6>
                        </a>
                    </li>
                    <li class="nav-item mt-2">
                        <a class="nav-link" data-toggle="tab" href="#tab-2">
                            <h6>Take Route 3 WEST to PARKWAY NORTH</h6>
                        </a>
                    </li>
                    <li class="nav-item mt-2">
                        <a class="nav-link" data-toggle="tab" href="#tab-3">
                            <h6>From PARKWAY SOUTH</h6>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-7 ml-auto mt-4">
                <div class="tab-content">
                    <div class="tab-pane active show" id="tab-1">
                        <figure>
                            <h4 class="text-center">From Route 80 EAST</h4>
                            <ul class="mt-5">
                                <li class="mt-2">Take Route 80 East 58A – Madison Avenue, Clifton.</li>
                                <li class="mt-2">When you come off the exit you go to the first light that is Getty /avenue.</li>
                                <li class="mt-2">There is a Diner on you right side (Madison Avenue, Diner). At that light make a Left turn.</li>
                                <li class="mt-2">Take Getty Avenue to Michigan Avenue about 10 blocks.</li>
                                <li class="mt-2">At Michigan is the rectory to the Church and Catholic School, make a left.</li>
                                <li class="mt-2">We are half way down the block on the side.</li>
                                <li class="mt-2">A big Beige Building.</li>
                            </ul>
                        </figure>
                    </div>
                    <div class="tab-pane" id="tab-2">
                        <figure>
                            <h4 class="text-center">Take Route 3 WEST to PARKWAY NORTH</h4>
                            <ul class="mt-5">
                                <li class="mt-2">Take Parkway to exit 155 Hazel Street.</li>
                                <li class="mt-2">When you come off the Exit, you make a left turn—that is Hazel Street—you’ll take Hazel Street to the first light that is Crooks Avenue.</li>
                                <li class="mt-2">It’s about 3-4 blocks. Make a right onto Crooks avenue.</li>
                                <li class="mt-2">Take that to the second (2) light. At that light is Getty Avenue.</li>
                                <li class="mt-2">Make a left on the Getty Avenue.</li>
                                <li class="mt-2">You’ll go About 6 or 7 blocks to Michigan Avenue.</li>
                                <li class="mt-2">Make a right turn on to Michigan Avenue.</li>
                                <li class="mt-2">We are half way down the block on the right side.</li>
                                <li class="mt-2">A big Beige building.</li>
                            </ul>
                        </figure>
                    </div>
                    <div class="tab-pane" id="tab-3">
                        <figure>
                            <h4 class="text-center">From PARKWAY SOUTH</h4>
                            <ul class="mt-5">
                                <li class="mt-2">Take Parkway South to exit 157 Route 46 West—Garfield–.</li>
                                <li class="mt-2">When you come off the Parkway you are on Route 46 West take that to the first light (Crooks Avenue).</li>
                                <li class="mt-2">Go straight up Crooks Avenue. It’s about 5 or 6 blocks to the railroad tracks go over the tracks as soon as you go over the tracks, make a right turn.</li>
                                <li class="mt-2">Go 6 or 7 blocks to Michigan Avenue. At Michigan Avenue make a left turn. We are half way up the block on the left side a big Beige building</li>
                            </ul>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- End Features Section -->

<script>
    $(function(){
        $(".nav-all").removeClass("active");
    });
</script>