<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs mt-2 bg_header_main">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <h1>Chemical Conversion and Coating on Aluminum</h1>
        </div>
    </div>
</section><!-- End Breadcrumbs -->

        <section class="blog" id="blog">
            <div class="row">
                <div class="col-md-3 col-sm-3">
                    <div class="sidebar">
                        <h3 class="sidebar-title">Process</h3>
                        <hr>
                        <div class="sidebar-item categories mt-4">
                            <div class="sidebar-item categories">
                                <ul class="sidebar-links">
                                    <li class="nav-all nav-metal_finishing mt-3"><a href="../metal_finishing/">Metal Finishing</a></li>
                                    <li class="nav-all mt-2 nav-anodizing"><a href="../anodizing/">Anodizing</a></li>
                                    <li class="nav-all mt-2 nav-black_oxide"><a href="../black_oxide/">Black Oxide</a></li>
                                    <li class="nav-all mt-2 nav-conversion_and_coating"><a href="../conversion_and_coating/">Chemical Conversion and Coating on Aluminum</a></li>
                                    <li class="nav-all mt-2 nav-electroless_nickel"><a href="../electroless_nickel/">Electoless Nickel</a></li>
                                    <li class="nav-all mt-2 nav-passivation"><a href="../passivation/">Passivation</a></li>
                                    <li class="nav-all mt-2 nav-selective_plating"><a href="../selective_plating/">Selective Plating</a></li>
                                    <li class="nav-all mt-2 nav-zinc_plating"><a href="../zinc_plating/">Zinc Plating</a></li>
                                    <li class="nav-all mt-2 nav-tin_plating"><a href="../tin_plating/">Tin Plating</a></li>
                                    <li class="nav-all mt-2 nav-copper_plating"><a href="../copper_plating/">Copper Plating</a></li>
                                    <li class="nav-all mt-2 nav-sand_blasting"><a href="../sand_blasting/">Sand Blasting</a></li>
                                    <li class="nav-all mt-2 nav-electropolish"><a href="../electropolish/">ElectroPolish</a></li>
                                    <li class="nav-all mt-2 nav-bright_nickel"><a href="../bright_nickel/">Bright Nickel</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9 col-sm-9">
                    <section class="about-us mt-0 pt-0">
                        <div class="container">
                            <div class="section-description">
                                <ul class="mt-3">
                                    <li class="mt-3">This process treat aluminum to form protective film to prevent corrosion for indoor application</li>
                                    <li class="mt-3">Used as a primer or bonding coating for paint</li>
                                    <li class="mt-3">Used to produce conductive coating to prevent corrosion in the electronic applications.</li>
                                    <li class="mt-3">Coating is also referred to as Iridite, Alodine, Chemical film, yellow chromate.</li>
                                </ul>
                                <br>
                                
                                <p class="mt-2">Chemical conversion coating/Chromate conversion coating/Chemical film/ Iridite/Alodine/ yellow and clear coating on aluminum are covered by following specifications.</p><br>

                                <h5 class="mt-2"><b>TRB/Andarn has capabilty to perform and certify finishining to the following specifications :</b></h5>
                                <div class="mt-3 overflow_x">
                                    <table class="table table-responsive table-bordered">
                                        <thead class="thead-dark text-center">
                                            <tr>
                                                <th>Specification</th>
                                                <th>Salt spray requirement to indicate corrosion resistant</th>
                                                <th>Other test requirement</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Mil-C-5541E, Class 1A and 3Yellow color unless specified otherwise</td>
                                                <td rowspan="6" class="text-center">168 Hours</td>
                                                <td>Paint adhesion test, low resistance for class 3</td>
                                            </tr>
                                            <tr>
                                                <td>Mil-Std-171D, Finish # 7.3.1 and 7.3.3</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>Mil-F-14072Finish # E512(Class 3) and E513(Class 1A)</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>Mil-Std-186E, Finish #208</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>AMS-2473</td>
                                                <td>Low resistance</td>
                                            </tr>
                                            <tr>
                                                <td>AMS-2474</td>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </section>

<script>
    $(function(){
        $(".nav-all").removeClass("active");
        $(".nav-process").addClass("active");
        $(".nav-conversion_and_coating").addClass("active");
    });
</script>