<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs mt-2 bg_header_main">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <h1>About</h1>
        </div>
    </div>
</section><!-- End Breadcrumbs -->

<!-- ======= About Us Section ======= -->
    <section id="about-us" class="about-us">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-xl-6 d-flex align-items-stretch justify-content-center text-center justify-content-lg-start">
                    <img src="../assets/img/portfolio/about.jpg" style="width: 100%;" alt="Company">
                </div>
                <div class="col-xl-6 pl-0 pl-lg-5 pr-lg-1 d-flex align-items-stretch">
                    <div class="content d-flex flex-column justify-content-center pt-0">
                        <h4>About Us</h4>
                        <p class="mt-2">
                            Welcome to TRB – Andarn, the leader in metal-finishing technology and providers of superior service to world-class customers for over 50 years combined. Our two state-of-the art facilities , located in Paterson, NJ, are fully equipped to serve all of your company’s needs. Our plants have produced quality work for companies just like yours. Our facility caters to serving large and small volume—-even custom orders, and can provide either commercial grade,government MIL-Spec, or any other commercial specification requested<br><br>
                        </p>
                    </div><!-- End .content-->
                </div>
            </div>
            <div class="mt-4">
                <p> 
                    Our team is made up of highly-skilled technicians who are trained to uphold the major principles of our industry: SPC, JIT, TQM and employee empowerment. Unlike many other metal-finishing facilities, we will only recommend the process that suits your needs – and fits within your budget. Our organization is totally committed to customer satisfaction and we’ll provide you with the superior quality, reliability, professional services and on-time delivery you expect.</p>
                <p>
                    Our repeat customers include some of america’s top business and government agencies. Take a moment to read about the professional services we will provide, and feel free to contact us with any questions you might have. Thank you for your interst in TRB-Andarn. We look forward to adding your company’s name to our growing list of satisfied clients .
                </p>
            </div>
        </div>
    </section><!-- End About Us Section -->

<script>
    $(function(){
        $(".nav-all").removeClass("active");
        $(".nav-about").addClass("active");
    });
</script>