.container-fluid{
    height: auto;
}
.nav-menu a{
    font-size:11.5px;
    padding: 20px 0 10px 0;
    font-weight: 600;
}
#header .logo img{
    max-height: 70px !important;
    max-width:120px !important;
}
.all_nav>a{
    text-transform: capitalize !important;
}
.btry_desc{
    font-size: 13.5px;
}
.icon_for_index{
    padding-top: 50px !important;
}
footer{
    margin-bottom: 0px;
    vertical-align: baseline;
}
.img-fluid{
    height:200px !important;
    max-height: 200px !important;
    width: 300px;
}
.align-items-stretch.justify-content-center{
    margin-right:auto;
}
.list_title{
    font-weight: 600;
}
.service_title_decs{
    font-size:14px;
    font-weight: lighter;
}
span.description{
    font-size: 10.5pt;
}
.service_railway_bettery_image{
    height: 80%;
    width: 80%;
}
.photo_gallery_page>div.portfolio-container>div.portfolio-item>img.img-fluid{
    height :150px !important;
    width:250px;
}
.container>p>a:hover{text-decoration: underline;color:#3f8826}
.container>p>a:link{text-decoration: underline;}
.container>p>a:visited{text-decoration: underline;}
.container>p>a:active{text-decoration: underline;}

.bx-color>i{
    color: #3f8826 !important;
}
.bx-color>a{
    color:white !important;
}
.bx-color>a:hover{
    color: #3f8826 !important;
}
.nav-menu{
    padding: 7px !important;
}
#header{
    padding: 0px 0px !important;
}
.overflow_x{
    overflow-x: auto;
}
.number_desc{
    color: #3f8826;
}
.active>a{
    color: #3f8826 !important;
    font-weight: 900 !important;
}
.home_darkbg{
    background: url(../img/portfolio/bg-home-dark.png) !important;
    background-position: center;
}
.home_darkbg>.container>.row>div {
    color:white;
}
.bg_header_main{
    background: url(https://trbandarn.com/wp-content/uploads/2019/04/photo-1499371593239-c8522ba60a74.jpeg) no-repeat top center !important;
    height:200px;
}
.bg_header_main>div>div{
    margin-top: 5% !important;
}
.bg_header_main>div>div>h1{
    color: whitesmoke !important;
    font-weight: 100 !important;
}

/* for mobile devices */
@media (max-width: 768px) {
    #hero .carousel-content{
        margin-bottom: 50px !important;;
    }
    .d-none_xs{
        display: none !important;
    }
}
