  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs mt-2 bg_header_main">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <h1>Passivation</h1>
        </div>
    </div>
</section><!-- End Breadcrumbs -->

        <section class="blog" id="blog">
            <div class="row">
                <div class="col-md-3 col-sm-3">
                    <div class="sidebar">
                        <h3 class="sidebar-title">Process</h3>
                        <hr>
                        <div class="sidebar-item categories mt-4">
                            <div class="sidebar-item categories">
                                <ul class="sidebar-links">
                                    <li class="nav-all nav-metal_finishing mt-3"><a href="../metal_finishing/">Metal Finishing</a></li>
                                    <li class="nav-all mt-2 nav-anodizing"><a href="../anodizing/">Anodizing</a></li>
                                    <li class="nav-all mt-2 nav-black_oxide"><a href="../black_oxide/">Black Oxide</a></li>
                                    <li class="nav-all mt-2 nav-conversion_and_coating"><a href="../conversion_and_coating/">Chemical Conversion and Coating on Aluminum</a></li>
                                    <li class="nav-all mt-2 nav-electroless_nickel"><a href="../electroless_nickel/">Electoless Nickel</a></li>
                                    <li class="nav-all mt-2 nav-passivation"><a href="../passivation/">Passivation</a></li>
                                    <li class="nav-all mt-2 nav-selective_plating"><a href="../selective_plating/">Selective Plating</a></li>
                                    <li class="nav-all mt-2 nav-zinc_plating"><a href="../zinc_plating/">Zinc Plating</a></li>
                                    <li class="nav-all mt-2 nav-tin_plating"><a href="../tin_plating/">Tin Plating</a></li>
                                    <li class="nav-all mt-2 nav-copper_plating"><a href="../copper_plating/">Copper Plating</a></li>
                                    <li class="nav-all mt-2 nav-sand_blasting"><a href="../sand_blasting/">Sand Blasting</a></li>
                                    <li class="nav-all mt-2 nav-electropolish"><a href="../electropolish/">ElectroPolish</a></li>
                                    <li class="nav-all mt-2 nav-bright_nickel"><a href="../bright_nickel/">Bright Nickel</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9 col-sm-9">
                    <section class="about-us mt-0 pt-0">
                        <div class="container">
                            <div class="section-description">
                                <h3>Electoless Nickel</h3>
                                <ul class="mt-2">
                                    <li>Passivation is “the removal of exogenous iron or iron compounds from the surface of stainless steel by means of a chemical dissolution, most typically by a treatment with an nitric or citric acid based solution that will remove the surface contamination, but will not significantly affect the stainless steel itself.</li>
                                    <li class="mt-3">Passivation process removes “free iron” contamination left behind on the surface of the stainless steel from machining and fabricating. These contaminants are potential corrosion sites that result in premature corrosion and ultimately result in deterioration of the component if not removed.</li>
                                    <li class="mt-3">Passivation process forms extremely corrosion resistant Nickel-Chromium mono-oxide layer.</li>
                                    <li class="mt-3">The type of stainless steel determines the most effective passivation process.</li>
                                    <li class="mt-3">Bath selection (time, temperature and concentration) is a function of the type of alloy processed.</li>
                                    <li class="mt-3">A thorough knowledge of the material types and passivation processes is paramount to achieving the desired results.</li>
                                    <li class="mt-3">Improper bath and process selection and/or process control will produce unacceptable results. In extreme cases, this can lead to catastrophic failure, including extreme pitting, etching and/or total dissolution of the entire componen.</li>
                                </ul><br>

                                <h5 class="mt-2">Following represents some of the common specifications and test certified by our organization:</h5>

                                <h6 class="mt-2">Requirements of Passivate baths in-house to meet Military customers specs. ASTM A-967</h6>
                                
                                <h6 class="mt-4">TRB/Andarn has capabilty to perform and certify finishining to the following specifications.</h6>
                                <br>
                                <div class="mt-2 overflow_x">
                                    <table class="table table-bordered text-center">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th></th>
                                                <th>Nitric 1</th>
                                                <th>Nitric 2</th>
                                                <th>Nitric 3</th>
                                                <th>Nitric 4</th>
                                                <th>Nitric 5</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Nitric Acid</td>
                                                <td>20 - 25 %</td>
                                                <td>20 - 45 %</td>
                                                <td>20 - 25 %</td>
                                                <td>45 - 55 %</td>
                                                <td>Other Combinations</td>
                                            </tr>
                                            <tr>
                                                <td>Sodium Dichromate</td>
                                                <td>2.0 - 3.0 %</td>
                                                <td> N/A </td>
                                                <td> N/A </td>
                                                <td>N/A </td>
                                                <td>Other Combinations</td>
                                            </tr>
                                            <tr>
                                                <td>Temperature </td>
                                                <td>120 - 130o</td>
                                                <td>F 70 - 90o</td>
                                                <td>F 120 140 o</td>
                                                <td>F 120 - 130 oF</td>
                                                <td>Other Combinations</td>
                                            </tr>
                                            <tr>
                                                <td>Time</td>
                                                <td>20 Min. minimum </td>
                                                <td>30 Min. minimum</td>
                                                <td> 20 Min. minimum</td>
                                                <td>30 Min. minimum</td>
                                                <td>Other Combinations</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <br>

                                <div class="mt-3 overflow_x">           
                                    <table class="table table-bordered text-center">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th colspan="4" class="text-center">QQ-P-35-C</th>
                                            </tr>
                                            <tr>
                                                <th></th>
                                                <th>Type II</th>
                                                <th>Type VI</th>
                                                <th>Type VII</th>       
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Nitric Acid</td>
                                                <td>20 - 25 %</td>
                                                <td>20 - 45 %</td>
                                                <td> 20 - 35 %</td>        
                                            </tr>
                                            <tr>
                                                <td>Sodium Dichromate</td>
                                                <td>2.0 - 3.0 %</td>
                                                <td> N/A </td>
                                                <td> N/A </td>      
                                            </tr>
                                            <tr>
                                                <td>Temperature </td>
                                                <td>120 - 130 F</td>
                                                <td>F 70 - 90 F</td>
                                                <td>F 120 150 F</td>      
                                            </tr>
                                            <tr>
                                                <td>Time</td>
                                                <td>20 Min. minimum </td>
                                                <td>30 Min. minimum</td>
                                                <td> 20 Min. minimum</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <br>
                                
                                <div class="mt-3 overflow_x">
                                    <table class="table table-bordered text-center">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th colspan="6" class="text-center">ASTM A-967 (CITRIC ACID)</th>
                                            </tr>
                                            <tr>
                                                <th></th>
                                                <th>Citric 1</th>
                                                <th>Citric 2</th>
                                                <th>Citric 3</th>
                                                <th>Citric 4</th>
                                                <th>Citric 5</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>CITRIC ACID</td>
                                                <td>4-10% B.W</td>
                                                <td>4-10% B.W </td>
                                                <td>4-10% B.W</td>
                                                <td> Other combinations </td>
                                                <td> Other combinations </td>
                                            </tr>
                                            <tr>
                                                <td>Temperature</td>
                                                <td>140-160 F</td>
                                                <td>120-140 F</td>
                                                <td>70-120 F</td>
                                                <td> Other combinations </td>
                                                <td> Other combinations </td>
                                            </tr>
                                            <tr>
                                                <td>Time </td>
                                                <td>4 Min. Minimum</td>
                                                <td>10 Min. Minimum</td>
                                                <td>20 Min. Minimum</td>
                                                <td> Other combinations </td>
                                                <td> Other combinations </td>
                                            </tr>
                                            <tr>
                                                <td>pH</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td>1.8-2.2</td>
                                            </tr>
                                        </tbody>
                                    </table><br>
                                    </div>
                                    
                                <div class="mt-3 overflow_x">
                                    <table class="table table-bordered text-center">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th colspan="8" class="text-center">ASTM A-380 Standard practice for Cleaning, Descaling, and Passivation of Stainless Steel Parts, Equipment, and Systems</th>
                                            </tr>
                                            <tr>
                                                <th></th>
                                                <th>Code F</th>
                                                <th>Code G</th>
                                                <th>Code H</th>
                                                <th>Code IE</th>
                                                <th>Code JE</th>
                                                <th>Code KG</th>
                                                <th>Code LE</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Condition</td>
                                                <td>Annealed, cold-rolled, thermally hardned, dull, non-reflective surface</td>
                                                <td>Annealed, cold-rolled, thermally harden, bright polished surface</td>
                                                <td>Annealed or hardened dull or non-reflective surfaces</td>
                                                <td>Annealed hardened with bright machined or polished surfaces</td>
                                                <td>Annealed or hardened, with bright machined or polished surfaces </td>
                                                <td>Same as JE</td>
                                                <td>Same as JE</td>
                                            </tr>
                                            <tr>
                                                <td>Nitric Acid</td>
                                                <td>20-50% B.V.e</td>
                                                <td>20-40% B.V</td>
                                                <td>20-50% B.V.</td>
                                                <td>20-25% B.V</td>
                                                <td>20-50% B.V.</td>
                                                <td>1-2% B.V</td>
                                                <td>12% B.V</td>
                                            </tr>
                                            <tr>
                                                <td>Sodium Dichromate</td>
                                                <td></td>
                                                <td>2-6% B.W</td>
                                                <td></td>
                                                <td>2-6% B.W</td>
                                                <td>2-6% B.W</td>
                                                <td>1-5% B.W</td>
                                                <td>4% B.W Cu SO4.5H2O</td>
                                            </tr>
                                            <tr>
                                                <td>Temperature</td>
                                                <td>120-160 </td>
                                                <td>120-155</td>
                                                <td>110-130</td>
                                                <td>120-130V</td>
                                                <td>70-120</td>
                                                <td>120-140</td>
                                                <td>120-140</td>
                                            </tr>
                                            <tr>
                                                <td>Time</td>
                                                <td>10-30</td>
                                                <td>10-30</td>
                                                <td>20-30</td>
                                                <td>15-30</td>
                                                <td>25-40</td>
                                                <td>10</td>
                                                <td>10</td>
                                            </tr>
                                            <tr>
                                                <td>pH</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>    
                                <br>



                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </section>


<script>
    $(function(){
        $(".nav-all").removeClass("active");
        $(".nav-process").addClass("active");
        $(".nav-passivation").addClass("active");
    });
</script>