<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs mt-2 bg_header_main">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <h1>Electroless Nickel</h1>
        </div>
    </div>
</section><!-- End Breadcrumbs -->

        <section class="blog" id="blog">
            <div class="row">
                <div class="col-md-3 col-sm-3">
                    <div class="sidebar">
                        <h3 class="sidebar-title">Process</h3>
                        <hr>
                        <div class="sidebar-item categories mt-4">
                            <div class="sidebar-item categories">
                                <ul class="sidebar-links">
                                    <li class="nav-all nav-metal_finishing mt-3"><a href="../metal_finishing/">Metal Finishing</a></li>
                                    <li class="nav-all mt-2 nav-anodizing"><a href="../anodizing/">Anodizing</a></li>
                                    <li class="nav-all mt-2 nav-black_oxide"><a href="../black_oxide/">Black Oxide</a></li>
                                    <li class="nav-all mt-2 nav-conversion_and_coating"><a href="../conversion_and_coating/">Chemical Conversion and Coating on Aluminum</a></li>
                                    <li class="nav-all mt-2 nav-electroless_nickel"><a href="../electroless_nickel/">Electoless Nickel</a></li>
                                    <li class="nav-all mt-2 nav-passivation"><a href="../passivation/">Passivation</a></li>
                                    <li class="nav-all mt-2 nav-selective_plating"><a href="../selective_plating/">Selective Plating</a></li>
                                    <li class="nav-all mt-2 nav-zinc_plating"><a href="../zinc_plating/">Zinc Plating</a></li>
                                    <li class="nav-all mt-2 nav-tin_plating"><a href="../tin_plating/">Tin Plating</a></li>
                                    <li class="nav-all mt-2 nav-copper_plating"><a href="../copper_plating/">Copper Plating</a></li>
                                    <li class="nav-all mt-2 nav-sand_blasting"><a href="../sand_blasting/">Sand Blasting</a></li>
                                    <li class="nav-all mt-2 nav-electropolish"><a href="../electropolish/">ElectroPolish</a></li>
                                    <li class="nav-all mt-2 nav-bright_nickel"><a href="../bright_nickel/">Bright Nickel</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9 col-sm-9">
                    <section class="about-us mt-0 pt-0">
                        <div class="container">
                            <div class="section-description">
                                <h3>Electoless Nickel</h3>
                                <ul class="mt-2">
                                    <li>Electroless Nickel (EN) is an autocatalytic plating process which does not require rectifiers, electrical current or anodes.</li>
                                    <li class="mt-3">One of the distinct advantages aside from excellent wear and corrosion resistance is the uniformity of plating on all areas of part being plated. Slots, grooves, blind hoes, threads, and even the inside of a cylinder will have the same thickness of coating. This will eliminate some post finishing operations resulting in lowered overall finishing costs.</li>
                                    <li class="mt-3">EN is an amorphous alloy of nickel and phosphorous or Boron or cobalt. By varying the percentage of above and adding composites like Teflon (PTFE) provide different functional coatings that have their own unique properties.</li>
                                    <li class="mt-3">EN can be replaced for a Hard Chrome plating in certain applications</li>
                                </ul><br>

                                <h3 class="mt-2">General Functional Properties :</h3>
                                <ul class="mt-2">
                                    <li>Corrosion Resistance</li>
                                    <li class="mt-3">Wear Resistance</li>
                                    <li class="mt-3">Hardness</li>
                                    <li class="mt-3">Lubricity</li>
                                    <li class="mt-3">Solderability and bondability</li>
                                    <li class="mt-3">Uniformity of deposit regardless of geometries</li>
                                    <li class="mt-3">Nonmagnetic properties of high phosphorous alloy</li>
                                </ul><br>

                                <h3 class="mt-2">Electroless Nickel Plating can be covered by the following specifications :</h3>
                                <ul class="mt-3">
                                    <li class="mt-3">AMS 2404C, Electroless Nickel Plating (Replaces MIL-C-26074)</li>
                                    <li class="mt-3">AMS 2405B, Electroless Nickel Plating, Low Phosphorus</li>
                                    <li class="mt-3">ASTM B656, Standard Guide for Autocatalytic Nickel-Phosphorus Deposition on Metals for Engineering Use</li>
                                    <li class="mt-3">ASTM B733, Standard Specification for Autocatalytic Nickel-Phosphorus Coatings on Metal (Replaces MIL-C-26074)</li>
                                </ul><br>

                                <h4 class="mt-2">Service Condition.The severity of the environment is presented here :</h4>
                                <div class="mt-3 overflow_x">
                                    <table class="table table-bordered text-center">
                                        <tr>
                                            <th>SC4: Very severe service</th>
                                            <td>Coating thickness</td>
                                            <td>60 µm minimum</td>
                                        </tr>
                                        <tr>
                                            <th>SC3: Severe service</th>
                                            <td>Coating thickness</td>
                                            <td>30 µm minimum</td>
                                        </tr>
                                        <tr>
                                            <th>SC2: Moderate service</th>
                                            <td>Coating thickness</td>
                                            <td>13 µm minimum</td>
                                        </tr>
                                        <tr>
                                            <th>C1: Mild service, solderings</th>
                                            <td>Coating thickness</td>
                                            <td>05 µm minimum</td>
                                        </tr>
                                    </table><br>
                                </div>
                                <div class="mt-2">
                                    <h5><b>Test Types.</b> The test type defines which tests should be performed.</h5>
                                    <p class="mt-3">
                                        <b>Type I :</b> Appearance, thickness, adhesion, porosity<br>
                                        <b>Type II :</b> Includes Type I and hardness<br>
                                        <b>Type III :</b> Includes Type I and alloy composition<br>
                                    </span>
                                </div>
                                <div class="mt-4">
                                    <h5><b>Post Treatment.</b> Classes of post heat treatment are referenced:</h5>
                                    <p class="mt-3">
                                    <b>Class 1 :</b> As deposited <br>
                                    <b>Class 2 :</b> 850 Knoop hardness minimum<br>
                                    <b>Class 3 :</b> Heat treat at 180 to 200C for two to four hours to improve adhesion and provide hydrogen embrittlement relief.<br>
                                    <b>Class 4 :</b> Heat treat at 120 to 130C for at least one hour to improve adhesion on heat-treatable aluminum alloys and carburized steel<br>
                                    <b>Class 5 :</b> Heat treat at 140 to 150C for at least one hour to improve adhesion for non-age-hardened aluminum and beryllium alloys</p>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </section>

<script>
    $(function(){
        $(".nav-all").removeClass("active");
        $(".nav-process").addClass("active");
        $(".nav-electroless_nickel").addClass("active");
    });
</script>