  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs mt-2 bg_header_main">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <h1>Quality Assurance</h1>
        </div>
    </div>
</section><!-- End Breadcrumbs -->


<section class="about-us mt-0">
    <div class="container">
        <div class="section-description">
            <p>
                At TRB-Andarn, the quality is our primary focus, from quoting you the most competitive prices right up to the time of delivery – each step is carefully monitored by our trained technicians. All orders are carefully inspected and cross checked before they are delivered to your facility. We constantly monitor bath analysis, inspection procedures and quality for all processes. In addition, We comply to all local, State and Federal Regulations. we have an in-house testing laboratory.
            </p><br>
            <h5 class="mt-2">We have in-house capability to perform and certify to following qualifying testing :</h5>
            <p class="mt-2">
                <ul>
                    <li class="mt-3">Salt spray testing per ASTM B 117</li>
                    <li class="mt-3">Coating weight per ASTM B 137</li>
                    <li class="mt-3">Wet Tape test per Method 6301.3</li>
                    <li class="mt-3">Taber Abrasion test Method 6192.1</li>
                    <li class="mt-3">Modified Dye stain test per ASTM B 136</li>
                    <li class="mt-3">Wet Chemical test for all plating solutions</li>
                    <li class="mt-3">Dielectric for Anodic Coating</li>
                </ul>
            </p><br>
            <h5 class="mt-4">We provide these services at a reasonable cost </h5>
            <div class="row mt-5 text-center">
                <div class="col-lg-4 col-sm-4 col-xs-12">
                    <img src="../assets/img/portfolio/qa1.jpg" alt="Picture 1">
                </div>
                <div class="col-lg-4 col-sm-4 col-xs-12">
                    <img src="../assets/img/portfolio/qa2.jpg" alt="Picture 1">
                </div>
                <div class="col-lg-4 col-sm-4 col-xs-12">
                    <img src="../assets/img/portfolio/qa3.jpg" alt="Picture 1">
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $(function(){
        $(".nav-all").removeClass("active");
        $(".nav-quality_assurance").addClass("active");
    });
</script>