   <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs mt-2 bg_header_main">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h1>Anodizing</h1>
            </div>
        </div>
    </section><!-- End Breadcrumbs -->

    <section class="blog" id="blog">
        <div class="row">
            <div class="col-md-3 col-sm-3">
                <div class="sidebar">
                    <h3 class="sidebar-title">Process</h3>
                    <hr>
                    <div class="sidebar-item categories mt-4">
                        <div class="sidebar-item categories">
                            <ul class="sidebar-links">
                                <li class="nav-all nav-metal_finishing mt-3"><a href="../metal_finishing/">Metal Finishing</a></li>
                                <li class="nav-all mt-2 nav-anodizing"><a href="../anodizing/">Anodizing</a></li>
                                <li class="nav-all mt-2 nav-black_oxide"><a href="../black_oxide/">Black Oxide</a></li>
                                <li class="nav-all mt-2 nav-conversion_and_coating"><a href="../conversion_and_coating/">Chemical Conversion and Coating on Aluminum</a></li>
                                <li class="nav-all mt-2 nav-electroless_nickel"><a href="../electroless_nickel/">Electoless Nickel</a></li>
                                <li class="nav-all mt-2 nav-passivation"><a href="../passivation/">Passivation</a></li>
                                <li class="nav-all mt-2 nav-selective_plating"><a href="../selective_plating/">Selective Plating</a></li>
                                <li class="nav-all mt-2 nav-zinc_plating"><a href="../zinc_plating/">Zinc Plating</a></li>
                                <li class="nav-all mt-2 nav-tin_plating"><a href="../tin_plating/">Tin Plating</a></li>
                                <li class="nav-all mt-2 nav-copper_plating"><a href="../copper_plating/">Copper Plating</a></li>
                                <li class="nav-all mt-2 nav-sand_blasting"><a href="../sand_blasting/">Sand Blasting</a></li>
                                <li class="nav-all mt-2 nav-electropolish"><a href="../electropolish/">ElectroPolish</a></li>
                                <li class="nav-all mt-2 nav-bright_nickel"><a href="../bright_nickel/">Bright Nickel</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-sm-9">
                <section class="about-us mt-0 pt-0">
                    <div class="container">
                        <div class="section-description">
                            <p>It is an electrochemical process that thickens and toughens the naturally occurring protective oxide. The resulting finish, depending on the process, is the second hardest substance known to man, second only to the diamond. The anodic coating is part of the metal, but has a porous structure which allows secondary infusions, (i.e. organic and inorganic coloring, lubricity aids, etc.)</p>

                            <ul class="mt-3">
                                <li>Anodizing is an electrochemical process that produces thick, nonconductive and tough, second only to diamond, protective oxide coating.</li>
                                <li class="mt-3">Porous structure allows to infuse organic, inorganic colors and PTFE (Teflon) based solid film lubricants.</li>
                                <li class="mt-3">Anodizing is also referred to as anodic coating and commercially achieved by using sulfuric acid and chromic acid electrolytes.</li>
                                <li class="mt-3">Chromic acid anodizing is used to produce thinner corrosion protective oxide coating.</li>
                                <li class="mt-3">Chromic acid anodizing is specified mostly for welded and porous cast aluminum structures in the aerospace application as trace chromic acid left during process does not corrode the parts.</li>
                                <li class="mt-3">Sulfuric acid anodizing process is used to produce corrosion protective oxide coating for most industrial and decorative applications. Sulfuric acid anodized coating dyes easily producing wide varieties of colors.</li>
                                <li class="mt-3">Hard coat anodize is produce at low temperature and high current density using sulfuric acid with special additives. Hard coat anodize is used to produce thick oxide coating, generally 2 mil or 50 Micron oxide coating for mostly abrasion/wear resistant, high heat dissipation and dielectric properties.</li>
                                <li class="mt-3">All the anodic coating can be dye to various exotic colors.</li>
                                <li class="mt-3">Anodic coating is covered by various Military, ASTM, AMS, Federal and customer specifications : </li>
                            </ul>
                                <br>
                            <h5 class="mt-2"><b>TRB/Andarn has the capability to perform and certify finishing to the following specifications :</b></h5>
                            <div class="mt-3 overflow_x">
                                <table class="table table-responsive table-bordered">
                                    <thead class="thead-dark text-center">
                                        <tr class="active">
                                            <th rowspan="2">Specification</th>
                                            <th rowspan="2">Class or Types</th>
                                            <th colspan="5" class="text-center">Equivalent Specifications</th>
                                            <th rowspan="2">Salt Spray for corrosion resistant, Hours</th>
                                            <th rowspan="2">Other special requirement</th>
                                        </tr>
                                        <tr class="active">
                                            <th>Mil-F-14072B</th>
                                            <th>AMS</th>
                                            <th>ASTMB 580-79</th>
                                            <th>Mil-STD-171D</th>
                                            <th>Mil-Std-186E</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Mil-A-8625F</td>
                                            <td>Type I Chromic acid</td>
                                            <td>E511</td>
                                            <td>2470</td>
                                            <td>Type G</td>
                                            <td>7.1.1,Non dyed 7.1.2 dyed</td>
                                            <td>201</td>
                                            <td>336	</td>
                                            <td>Coating Weight, Coating</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>Type II Sulfuric Acid</td>
                                            <td>E511</td>
                                            <td>2471 Non dyed 2472 Dyed</td>
                                            <td>Type B,C,D,E,F</td>
                                            <td>7.2.1 Non dyed 7.2.2 Dyed</td>
                                            <td>202 Non Dyed 203 Dyed</td>
                                            <td>336</td>
                                            <td>Thickness</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>Type III Hard Anodize</td>
                                            <td>E514</td>
                                            <td>2468 2469</td>
                                            <td>Type A</td>
                                            <td>7.5.1 Non dyed 7.5.2 Dyed</td>
                                            <td>207</td>
                                            <td></td>
                                            <td>Coating weight, Coating Thickness, Taber Abrasion, Dielectri</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>

    <script>
        $(function(){
            $(".nav-all").removeClass("active");
            $(".nav-process").addClass("active");
            $(".nav-anodizing").addClass("active");
        });
    </script>
